<div class="bg-white w-48 h-32 break-words rounded-lg shadow-lg">
    <div style="display: grid;place-items: center;grid-template-areas: 'inner-div';">
        <div style="grid-area: inner-div;" class="bg-opacity-0 opacity-0 p-4 w-full h-full hover:opacity-90 transition-all duration-1000 p-5 select-none hover:select-auto">
            <p class="text-white">hi</p>    
        </div>
        <div style="grid-area: inner-div;" class="bg-black bg-opacity-0 p-4 w-full h-full hover:bg-opacity-70 transition-all duration-1000 p-5 hover:select-none select-auto">
            <% if(file.mime.startsWith('image/')) { %>
            <img src="https://wanderers.cloud/file/<%=file.fileName%>?preview=true" class="max-h-20">
            <% } else {%>
            <img src="https://wanderers.cloud/resources/file.svg" class="max-h-20">
            <%}%>
            <a><p><%=file.originalName %></p></a>
        </div>
    </div>
</div>