<div class="bg-wwhite text-wdark w-full h-10 mb-5 flex">
    <div class="hover:bg-[#e0e0e0] rounded-md w-24 my-auto"><p class="inline"><%=user.username%></p><i class="fa-solid fa-angle-down inline float-right align-middle"></i></div>
</div>