<div class="bg-wwhite dark:bg-wdark text-wdark dark:text-wwhite w-full h-12 mb-5 flex">
    <div id="themeSwitch" class="hover:bg-wlight dark:hover:bg-wlight-dark rounded-md my-auto ml-auto mr-2 inline-flex p-2 cursor-pointer" onclick="toggleTheme()">
        <i title="Toggle darkmode" class="themeSwitch fa-solid"></i>
    </div>
    <div id="sbutton" class="hover:bg-wlight dark:hover:bg-wlight-dark rounded-md w-12 my-auto mr-2 inline-flex p-2 cursor-pointer" onclick="sdropdown(false)">
        <p class="inline truncate" title="Settings"><i class="fa-solid fa-gear"></i></p><i class="fa-solid fa-angle-down inline my-auto ml-auto"></i>
        <div id="scontent" class="dropdown-content hidden w-40 absolute right-44 z-[60] top-12 bg-wwhite text-wdark dark:bg-wdark dark:text-wwhite rounded-b-lg cursor-auto shadow-xl p-2" onclick="event.stopPropagation();">
            <div class="form-check form-switch py-1">
                <input onchange="settingUpdate(this)" id="refreshAfterUpload" class="form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-wwhite dark:bg-wdark bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm checked:bg-wgreen checked:border-wgreen" type="checkbox" role="switch" id="refreshAfterUpload">
                <label class="form-check-label inline-block" for="refreshAfterUpload">Refresh page after file upload</label>
            </div>
            <div class="form-check form-switch py-1">
                <input onchange="settingUpdate(this)" id="privateFiles" class="form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-wwhite dark:bg-wdark bg-no-repeat bg-contain bg-gray-300 focus:outline-none cursor-pointer shadow-sm checked:bg-wgreen checked:border-wgreen" type="checkbox" role="switch" id="privateFiles">
                <label class="form-check-label inline-block" for="privateFiles">Make uploads private</label>
            </div>
        </div>
    </div>
    <div id="ubutton" class="hover:bg-wlight dark:hover:bg-wlight-dark rounded-md w-40 my-auto mr-2 inline-flex p-2 cursor-pointer" onclick="udropdown(false)">
        <p class="inline truncate" title="<%=user.username%>"><%=user.username%></p><i class="fa-solid fa-angle-down inline my-auto ml-auto"></i>
        <div id="ucontent" class="dropdown-content hidden w-40 absolute right-2 z-[60] top-12 bg-wwhite text-wdark dark:bg-wdark dark:text-wwhite rounded-b-lg cursor-auto shadow-xl" onclick="event.stopPropagation();">
            <a href="/profile"><div class="hover:bg-wlight dark:hover:bg-wlight-dark py-4 px-2"><p>My profile</p></div></a>
            <% if (user.admin) { %> <a href="/admin"><div class="hover:bg-wlight py-4 px-2"><p>Console</p></div></a><% } %> 
            <a href="/logout"><div class="hover:bg-wlight dark:hover:bg-wlight-dark rounded-b-lg py-4 px-2"><p>Logout</p></div></a>
        </div>
    </div>
</div>
<script>
    function sInit() {
        document.getElementById("refreshAfterUpload").checked = settings.refreshAfterUpload;
        document.getElementById("privateFiles").checked = settings.privateFiles;
    }
    function settingUpdate(element) {
        var setting = element.id;
        var value;
        if (element.type == "checkbox") value = element.checked
        settings[setting] = value;
        localStorage.setItem("_wcloud-settings", JSON.stringify(settings));
    }
    let udropdownState = false;
    let sdropdownState = false;
    function udropdown(forceClose) {
        udropdownState = !udropdownState;
        if (forceClose) udropdownState = false;
        if (!forceClose) sdropdown(true);
        if (udropdownState) {
            document.querySelector("#ucontent").classList.remove("hidden");
            document.querySelector("#ubutton").classList.add(`bg-wlight${localStorage.theme == "dark" ? "-dark" : ""}`);
        } else {
            document.querySelector("#ucontent").classList.add("hidden");
            document.querySelector("#ubutton").classList.remove("bg-wlight");
            document.querySelector("#ubutton").classList.remove("bg-wlight-dark");
        }
    }
    function sdropdown(forceClose) {
        sdropdownState = !sdropdownState;
        if (forceClose) sdropdownState = false;
        if (!forceClose) udropdown(true);
        if (sdropdownState) {
            document.querySelector("#scontent").classList.remove("hidden");
            document.querySelector("#sbutton").classList.add(`bg-wlight${localStorage.theme == "dark" ? "-dark" : ""}`);
        } else {
            document.querySelector("#scontent").classList.add("hidden");
            document.querySelector("#sbutton").classList.remove("bg-wlight");
            document.querySelector("#sbutton").classList.remove("bg-wlight-dark");
        }
    }
</script>