<div class="bg-wwhite text-wdark w-full h-12 mb-5 flex">
    <div class="hover:bg-[#e0e0e0] rounded-md w-40 my-auto ml-auto mr-2 inline-flex p-2">
        <p class="inline truncate" title="Settings"><i class="fa-solid fa-gear"></i></p><i class="fa-solid fa-angle-down inline my-auto ml-auto"></i>
    </div>
    <div class="hover:bg-[#e0e0e0] rounded-md w-40 my-auto ml-auto mr-2 inline-flex p-2">
        <p class="inline truncate" title="<%=user.username%>"><%=user.username%></p><i class="fa-solid fa-angle-down inline my-auto ml-auto"></i>
    </div>
</div>