<!DOCTYPE html>
<html>
    <head>
        <title>Wanderer's Cloud - 404</title>
        <%- include('./common/darkmode.ejs') %>
    </head>
    <body class="bg-gray-900">
        <%- include("./common/nav.ejs", {user: user, my: false}); %>
        <div class="text-wwhite flex">
            <div class="m-auto text-center">
                <p class="text-5xl">404</p>
                <p>This page couldn't be found. Are you sure it exists?</p><br>
                <a class="button" href="/">Back to safety</a>
            </div>
        </div>
    </body>
</html>