<!DOCTYPE html>
<html>
  <head>
    <title>Wanderer's Cloud- Administration panel</title>
    <%- include('./common/darkmode.ejs') %>
  </head>
    <body class="bg-gray-900">
        <%- include("./common/nav.ejs", {user: user, my: false}); %> 
        <data data-csrfToken="<%=csrfToken %>" id="data"></data>
        <div class="bg-wwhite dark:bg-wdark dark:text-wwhite shadow-lg rounded-lg overflow-hidden m-5 max-w-screen-md">
            <p class="font-bold">Invitation creator</p><br>
            <div class="w-1/2 h-10 bg-wdark dark:bg-wwhite mx-5 text-wwhite dark:text-wdark rounded-lg text-center text-2xl">
                <span id="inviteOutput"></span>
            </div>
            <button class="button-dark dark:button-light button-blue m-5" onclick="createInvite()">Create new invite</button>
        </div>
    </body>
    <script>
        let csrf = document.getElementById("data").getAttribute("data-csrfToken");
        function createInvite() {
            fetch('/admin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    _csrf: csrf,
                    action: 'createInvite'
                })
            }).then(res => res.json()).then(res => {
                if (res.error) {
                    console.log("server encountered error")
                    console.error(res.error)
                    return document.getElementById("inviteOutput").textContent = res.error.error += "\nSee console for full error";
                }
                document.getElementById("inviteOutput").textContent = res.success;
            });
        }
    </script>
</html>