<!DOCTYPE html>
<html>
    <head>
        <title>Wanderer's Cloud - Change username</title>
        <%- include('./common/darkmode.ejs') %>
      </head>
      <body class="bg-gray-900">
        <%- include("./common/nav.ejs", {user: user, my: false}); %> 
        <form method="post">
            <label for="username">New Username:</label>
            <input type="hidden" name="_csrf" value="<%=csrfToken %>">
            <input class="text-wdark rounded-lg h-10" type="text" id="username" name="username" placeholder="<%=user.username %>"></input>
            <input class="text-wdark button" type="submit" value="Change Username"/>
        </form>
    </body>
</html>