<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <%- include('./common/darkmode.ejs') %>
  </head>
  <body class="bg-gray-900">
    <%- include("./common/nav.ejs", {user: user, my: false}); %> 
<h2>something broke</h2>
<%=friendlyError %><br>
<%=stacktrace %>
</body>
</html>