<!DOCTYPE html>
<html>
    <head>
        <title>Wanderer's Cloud</title>
        <%- include('./common/darkmode.ejs') %>
      </head>
      <body class="bg-gray-900 text-wwhite">
        <%- include("./common/nav.ejs", {user: user, my: false}); %> 
    there isnt anything here yet!
    unless you have an account already: <a href="/login" class="text-blue-500">Login here</a>
  <br><br>
  Do you know that pain when you gotta get a file from device A to B (be that your own devices, or you and someone else)?<br>
  Wanderers Cloud aims to solve that problem, basically you upload a file (private or public, you can choose) and download it elsewhere, also functions easily with sharex if youre into that, all this with no limitations* on file size, type etc.<br>
  <br>
  You can access all your files either via the link, or the webpage, <a href="https://wanderers.cloud/my" class="text-blue-500">https://wanderers.cloud/my</a> (which you cant access while logged out), <br>
  Uploading happens either via http POST or through the same <a href="https://wanderers.cloud/my" class="text-blue-500">https://wanderers.cloud/my</a> page <br>
  <br>
  Files stay there until i run out of storage space, at which point the oldest files get deleted as needed <br>
  <br>
  * I think the uploads are restricted to 2gb or 5gb, but if there is a genuine reason you need it higher that is possible <br>
  </body>
    </html>