
    <head>
        <title>wanderers cloud</title>
		<link rel="stylesheet" href="/resources/style.css">
    </head>
    there isnt anything here yet!
    unless you have an account already: <a href="/login" class="text-blue-500">Login here</a>