<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/resources/style.css">
  </head>
  <body class="bg-gray-900">
    <form action="/login/password" method="post" class="mt-20p text-center space-y-5">
    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
    <input type="email" name="username" class="input-box" placeholder="Email"><br>
    <input type="password" name="password" class="input-box" placeholder="Password"><br>
    <input type="submit" class="button" value="Login"><br>
    <% if (messages?.error) { %><br><span class="text-red-800"><%=messages.error %></span> <% } %>
    </form>
  </body>
</html>