<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My files</title>
	<link rel="stylesheet" href="/resources/style.css">
	<script src="https://kit.fontawesome.com/1b8f1d833c.js" crossorigin="anonymous"></script>
  </head>
  <body class="bg-gray-900">
	<div class="grid gap-4 max-w-screen-2xl grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7">
	<%
	  files.forEach(file => {
			%>
			<%-include("./common/file.ejs", {file: file, csrfToken})%>
	<% }); %>
	<i class="fa-solid fa-plus fixed bottom-10 right-10 bg-wgreen text-center rounded-full drop-shadow-lg"></i>
  </div>
  </body>
  <script>
	function deleteFile(id) {
		document.getElementById(id).remove()
	  	fetch("/api/deletefile", {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({
				_csrf: "<%=csrfToken %>",
				id: id
			})
		}).then(res => res.json()).then(res => {
			if(res.error) {
				alert(res.error)
				windows.location = window.location	
			}
		})
	}
	function linkClipboard(link, element) {
		navigator.clipboard.writeText(link)
		element.classList.remove("fa-clipboard")
		element.classList.add("fa-clipboard-check")
		setTimeout(() => {
		element.classList.remove("fa-clipboard-check")
		element.classList.add("fa-clipboard")
		}, 1000)
	}
  </script>
</html>