<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My files</title>
	<link rel="stylesheet" href="/resources/style.css">
	<script src="https://kit.fontawesome.com/1b8f1d833c.js" crossorigin="anonymous"></script>
  </head>
  <body class="bg-gray-900">
	<%- include("./common/nav.ejs", {user: user}); %> 
	<div class="grid gap-4 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7">
		
		<% 	files.sort((a, b) => {
				return b.uploadedAt - a.uploadedAt;
			});
			files.forEach(file => { %>
			<%- include("./common/file.ejs", {file: file, csrfToken}); %>
		<% }); %>
	</div>
	<a onclick="document.getElementById('fileUpload').click()" class="fixed bottom-10 right-10 bg-wblue text-wwhite text-center rounded-full align-middle drop-shadow-lg w-16 h-16 z-50 flex cursor-pointer hover:bg-wblue-dark transition-all duration-[100ms]"><i class="fa-solid fa-plus text-2xl m-auto"></i></a>
	<input type="file" hidden id="fileUpload" multiple />
	<div class="w-56 h-10 bg-wwhite rounded-lg hidden fixed bottom-32 right-10 flex p-2 transition-all duration-[100ms] z-50" id="progressWidget">
		<div class="w-full h-6 bg-wdark rounded-full margin-auto">
			<div id="uploadProgress" class="bg-wblue h-6 text-sm font-medium text-wwhite text-center p-1 leading-none rounded-full" style="width: 0%;transition: all 0.1s ease 0s;"> <span id="uploadProgressText">0%</span></div>
		</div>
	</div>
  </body>
  <script>
	let settings = localStorage.getItem('_wcloud-settings');
    let firstTime = false
    if (!settings) {
        localStorage.setItem('_wcloud-settings', JSON.stringify({refreshAfterUpload: true, privateFiles: true, firstTime: true}));
    }
	settings = JSON.parse(localStorage.getItem('_wcloud-settings'));
	sInit();
	let hideTimeout
	const getFormDataSize = (formData) => [...formData].reduce((size, [name, value]) => size + (typeof value === 'string' ? value.length : value.size), 0); //thank you stackoverflow
	document.getElementById("fileUpload").addEventListener("change", (e) => {
		if(settings.firstTime) {
			alert("By default your uploads will be private, you can change this in the settings.")
			settings.firstTime = false;
			localStorage.setItem('_wcloud-settings', JSON.stringify(settings));
		}
		clearTimeout(hideTimeout);
		const formData = new FormData();
		const fileInput = document.getElementById("fileUpload");
		for(let i = 0; i < fileInput.files.length; i++) {
			formData.append(`file${i}`, fileInput.files[i]);
		};
		if (getFormDataSize(formData) > 5368709120) {
			alert("Your upload exceeds 5GB, are you certain what you are doing is worth it?\nIf you really really want to upload over 5GB at once contact us at contact@wanderers.cloud");
			return;
		}
		let xhr = new XMLHttpRequest();
		xhr.open("POST", "https://upload.wanderers.cloud");
		xhr.setRequestHeader("authentication", "<%=user.uploadKey%>");
		if(settings.privateFiles) xhr.setRequestHeader("w-private", "true");
		xhr.upload.addEventListener("progress", updateProgress)
		xhr.upload.addEventListener("loadend", e => {
			document.getElementById("uploadProgressText").innerHTML = `Processing...`;
		})
		xhr.onreadystatechange = function() {
			if(xhr.readyState == 4 && xhr.status == 200) {
				document.getElementById("uploadProgressText").innerHTML = `Done`;
				hideTimeout = setTimeout(() => {
					document.getElementById("progressWidget").classList.add("hidden");
					if (settings.refreshAfterUpload) {
						location.reload();
					}
				}, 5000);
			} else if (xhr.readyState == 4 && xhr.status != 200) {
				alert(`${xhr.status}: ${xhr.responseText}`)
			}
		}
		xhr.send(formData);
		document.getElementById("progressWidget").classList.remove("hidden");
	})
	function deleteFile(id) {
		document.getElementById(id).remove()
	  	fetch("/api/deletefile", {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({
				_csrf: "<%=csrfToken %>",
				id: id
			})
		}).then(res => res.json()).then(res => {
			if(res.error) {
				alert(res.error)
				
				location.reload();
			}
		})
	}
	function linkClipboard(link, element) {
		navigator.clipboard.writeText(link)
		element.classList.remove("fa-clipboard")
		element.classList.add("fa-clipboard-check")
		setTimeout(() => {
		element.classList.remove("fa-clipboard-check")
		element.classList.add("fa-clipboard")
		}, 1000)
	}
	function updateProgress(e) {
      if (e.lengthComputable) {
        var percentComplete = (e.loaded / e.total) * 100;
		document.getElementById("uploadProgressText").innerHTML = `${Math.floor(percentComplete) - 1}%`;
        document.getElementById("uploadProgress").style.width = `${percentComplete}%`;
      }
    }
  </script>
</html>