<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My files</title>
    <link rel="stylesheet" href="/resources/style.css">
  </head>
  <body class="bg-gray-900">
    <%
        files.forEach(file => {
            include("./common/file.ejs", {file: file, csrfToken})
        });
    %>
  </body>
</html>