<html>
  <head>
    <title>register</title>
    <link rel="stylesheet" href="/resources/style.css">
  </head>
  <body>
    <form action="/create_account" method="post">
    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
    <input type="text" name="username" placeholder="Username">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="text" name="invite" placeholder="Invitation code">
    <input type="submit" class="button button-blue" value="Login">
    <% if (messages?.error) { %><br><span class="text-red-800"><%=messages.error %></span> <% } %>
    </form>
  </body>
</html>