<html>
  <head>
	<title>register</title>
	<link rel="stylesheet" href="/resources/style.css">
  </head>
  <body>
	<form id="registrationForm">
	<input type="hidden" name="_csrf" value="<%=csrfToken %>">
	<input type="text" name="username" placeholder="Username" required><br>
	<input type="email" name="email" placeholder="Email" required><br>
	<input type="password" name="password" placeholder="Password" required><br>
	<input type="password" name="password2" placeholder="Confirm password" required><br>
	<input type="text" name="invite" placeholder="Invitation code" required><br>
	<input type="submit" class="button button-blue" value="Login">
	<% if (messages?.error) { %><br><span class="text-red-800"><%=messages.error %></span> <% } %>
	</form>
  </body>
  <script>
	document.getElementById("registrationForm").onsubmit = (e) => {
		e.preventDefault()

	}
  </script>
</html>