<p id="output"></p>
<script>
    let formData = new FormData();
    formData.append("file", new File());
    let xhr = new XMLHttpRequest();
		xhr.open("POST", "https://upload.wanderers.cloud");
		xhr.setRequestHeader("authentication", "<%=user.uploadKey%>");
		xhr.upload.addEventListener("loadend", e => {
		})
		xhr.onreadystatechange = function() {
			if(xhr.readyState == 4 && xhr.status == 200) {
                document.getElementById("output").innerHTML = JSON.stringify(xhr);
			} else if (xhr.readyState == 4 && xhr.status != 200) {
                document.getElementById("output").innerHTML = JSON.stringify(xhr);
				alert(`${xhr.status}: ${xhr.responseText}`)
			}
		}
		xhr.send(formData);
</script>