<html>
  <body>
    <progress id="uploadProgress" style="display:none" value="0" max="100"></progress>
    <form ref='uploadForm' 
      id='uploadForm' 
      action='/upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <input type="checkbox" name="w-private">
        <input type="file" id="ffile" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form>  
  </body>
  <script>
    document.getElementById("uploadForm").onsubmit = (e) => {
      e.preventDefault()
      let xhr = new XMLHttpRequest();
      xhr.open("POST", "/upload");
      let formData  = new FormData();
      formData.append("upload", document.getElementById("ffile").files[0]);
      xhr.upload.addEventListener("progress", updateProgress)
      xhr.upload.addEventListener("loadend", e => {
        setTimeout(() => {
          document.getElementById("uploadProgress").style.display = "none";
        }, 10000);
      })
      xhr.send(formData);
      document.getElementById("uploadProgress").style.display = "block";
    }

    function updateProgress(e) {
      if (e.lengthComputable) {
        var percentComplete = (e.loaded / e.total) * 100;
        document.getElementById("uploadProgress").value = percentComplete;
      } //copilot code, i really dont know what it does
    }
  </script>
</html>